*.exe linguist-detectable=false
*.rar linguist-detectable=false
*.zip linguist-detectable=false

*.o linguist-detectable=false
*.depend linguist-detectable=false
*.layout linguist-detectable=false
*.dll linguist-detectable=false
